@model RahulApp.Models.AddEmpViewModel

@{
    ViewData["Title"] = "Application Form";
}


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card mt-auto">
            <form asp-action="Create" id="frmCreate">
                <div class="card-header align-items-center">
                    <h3 class="text-center">Application Form</h3>
                </div>
                <div class="card-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mt-3">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="row">
                    <div class="form-group mt-3 col-5">
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3 col-7">
                        <label asp-for="Gender" class="control-label"></label>
                         <br />
                        <input type="radio" name="Gender" value="Male" id="Male" asp-for="Gender"/>
                        <label for="Male" >Male</label> &nbsp;
                        <input type="radio" name="Gender" value="Female" id="Female" asp-for="Gender"/>
                        <label for="Female">Female</label>&nbsp;
                        <input type="radio" name="Gender" value="Other" id="Other" asp-for="Gender"/>
                        <label for="Other" >Other</label>
                         
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" id="PhoneNumber" name="PhoneNumber" />
                        <span id="errPhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="Country" class="control-label "></label>
                        @*<select asp-for="CountryId" class="dropdown form-select" asp-items="@(new SelectList(@ViewBag.CountryList, "Id", "Name"))" onchange="changeCountry(this)"></select>*@
                        <select id="CountryId" name="CountryId" class="dropdown form-select" asp-for="CountryId"></select>
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="State" class="control-label"></label>
                        @*<select asp-for="StateId" class="dropdown form-select" name="StateId" id="StateId" asp-items="@(new SelectList(string.Empty, "Id", "Name"))">
                            </select>*@
                            <select class="dropdown form-select" name="StateId" id="StateId" asp-for="StateId">
                                </select>
                        
                       <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" id="photo" name="photo" class="form-control" type="file" accept=".jpg, .jpeg, .png"/>
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer align-content-center">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a asp-action="List" class="btn btn-primary">Back to List</a>
                </div>
            </form>

        </div>
    </div>
    <div class="col-md-3"></div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    <script src="/lib/jquery/dist/jquery.min.js" ></script>
    <script src="/Scripts/Create.js" ></script>
 