@model RahulApp.Models.EditEmployeeViewModel

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-action="Edit">
            <div class="card">
                <div class="card-header">
                    <h4>Edit Employee </h4>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="form-group" hidden>
                        <label asp-for="EmployeeId" class="control-label"></label>
                        <input asp-for="EmployeeId" class="form-control" />
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <input type="radio" name="Gender" value="Male" id="Male"  asp-for="Gender"/>
                <label for="Male">Male</label>
                <input type="radio" name="Gender" value="Female" id="Female"  asp-for="Gender"/>
                <label for="Female">Female</label>
                <input type="radio" name="Gender" value="Other" id="Other"  asp-for="Gender"/>
                <label for="Other">Other</label>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                         @*<select asp-for="Country" class="form-select">
                </select>*@
                <select id="CountryId" name="CountryId" class="dropdown form-select" asp-for="CountryId"></select>
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="State" class="control-label"></label>
                         
 @*                       <select asp-for="State" class="form-select" name="State">
                    
                </select>
 *@               <select class="dropdown form-select" name="StateId" id="StateId" asp-for="StateId">
                                </select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <img class="img-thumbnail" src="@Model.Photo" width="200" height="200"/>  
                        <input asp-for="Photo" class="form-control" type="file" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a asp-action="List" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

   <script src="/lib/jquery/dist/jquery.min.js" ></script>
    <script src="/Scripts/Create.js" ></script>